---
import { Image } from '@astrojs/image/components'
---

<footer class="bg-tertiary text-white flex w-full justify-center">
  <div class="max-w-screen-xl py-3 flex justify-between w-full items-center">
    <Image src={import('../assets/images/hokilogo.png')} alt="Hoki 2.0" height={47} width={116} />
    <p>© Copyright Hibah Kompetisi Kewirausahaan 2.0 2022</p>
  </div>
</footer>
