---
import { Image } from '@astrojs/image/components'
import Icon from 'astro-icon'
---

<nav class="bg-primary/90 text-white flex w-full justify-center px-3 border-b border-b-green-600 fixed z-[1000] backdrop-blur">
  <div class="max-w-screen-xl py-3 flex justify-center md:justify-between w-full">
    <div class="flex gap-3 items-center">
      <Image src={import('../assets/images/hokilogo.png')} alt="Hoki 2.0" height={47} width={116} />
      <a href="https://www.instagram.com/jadihoki/">
        <Icon class="w-6 h-6 opacity-75 hover:opacity-100" name="ri:instagram-line" />
      </a>
      <a href="https://www.youtube.com/c/PTPegadaianPersero_official">
        <Icon class="w-6 h-6 opacity-75 hover:opacity-100" name="ri:youtube-line" />
      </a>
    </div>
    <div class="sm:flex gap-9 items-center font-semibold hidden">
      <a href="#event">Kick Off</a>
      <a href="#timeline">Timeline</a>
      <a href="#term">Ketentuan</a>
      <a href="#benefit">Benefit</a>
      <a href="#about">Tentang</a>
    </div>
  </div>
</nav>
